.following{
    height: 100vh;
    overflow: hidden;
    .followingWrapper{
        display: flex;
        .friendList{
            flex: 10;
            height: calc(100vh - 56px);
            overflow-y: auto;
        }
        .sidebar {   
            .sidebarWrapper {
                .menuLink{margin-bottom: 20px;}
                .sidebarHr{display: none;}
                .title-followers{display: none;}
                .sidebarFriendList{display: none;}
            }
        }
    }
}