.followers{
    .followersWrapper{
        display: flex;
        .friendList{
            flex: 10;
        }
        .sidebar {
         
            .sidebarWrapper {
                .menuLink{margin-bottom: 20px;}
                .sidebarHr{display: none;}
                .title-followers{display: none;}
                .sidebarFriendList{display: none;}
            }
         
        }
    }
}